@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    body, header, .Projects figure{
        width: 100%;
    }
    .Projects div {
        padding-bottom: 20px;
    }
    footer {
        width: 100%;
        height: 5%;
    }
    section {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .Projects {
        display: flex;
        flex-direction: column; 
    }
  }
body {
    background-color: aqua;
    color: darkslategray;
    font-family:'Courier New', Courier, monospace ;
    margin: 0px;
    padding: 0px;
}
header {
    background-color:rgb(205, 133, 63);
    height: 75px;
    padding: 50px 20px;
}
section {
    background-color: rgb(245, 245, 220);
    padding: 20px;
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0 auto;
}

img {
    width: 100%;
}

div {
    background-color: rgb(240, 255, 255);
    width: auto;
    height: auto;
    margin: 0 auto;
}

footer {
    background-color: aliceblue;
    padding: 10px 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    color: blue;
}

.pictureDiv {
    background-color: azure;
    width: 100px;
    margin: 0 auto;
}

.HomepageText div {
    background-color:rgb(205, 133, 63);
    padding: 20px;
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 75px;
    margin: auto;
    text-align: center;
}
.Projects div {
    margin: 0 auto;
    height: 0px;
}
.Projects figure {
    background-color: rgb(255, 255, 186);
    width: 300%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
    left: -100px;
}

.Subproject figure {
    background-color: rgb(255, 255, 186);
    width: 600%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
    left: -250px;
}

.Subproject div {
    margin: 0 auto;
    height: 0px;
}

.Projects .TextBlock {
    padding: 7px;
    width: auto;
    height: auto;
} 

.TitleBlock {
    background-color: rgb(164, 250, 250);
    width: 555px;
    height: auto;
    text-align: center;
    padding: 7px;
}